@import "src/style/mixins";

.b-tools {

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: max(15px, 1vw) 2%;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 550px) {
      gap: 10px 3%;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.4%;
    padding: 20px;
    background: var(--background-color);

    &:nth-of-type(-n + 3) {
      width: 32%;

      @media (max-width: 800px) {
        width: 23.5%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }

    @media (max-width: 800px) {
      width: 23.5%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  &_icon-wrapper {
    width: 50px;
    height: 50px;
    text-align: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &_title {
    @include mainFont;
    color: var(--dark-color-text);
    margin: 15px 0 5px;
  }

  &_description {
    @include smallText;
    text-align: center;
  }
}