@import "src/style/mixins";

.b-certificates {

  &_list {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: 10px;
    overflow: hidden;
  }

  &_item {
    display: grid;
    grid-template: auto / 50px 1fr auto;
    gap: 5px 15px;
    background: var(--background-color);
    padding: 30px;
  }

  &_icon-wrapper {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  &_company {
    grid-column: 2;
    grid-row: 1;
    @include descriptionText;
  }

  &_description {
    grid-column: 2;
    grid-row: 2;
    @include mainFont;
    color: var(--dark-color-text);
  }

  &_dates {
    grid-column: 3;
    grid-row: 1 / 3;
    @include smallText;
  }
}